<template>
  
    <div class="container mt-5">
        <h2 class="text-center mb-5">EDICION DE TAREA</h2>


        <form @submit.prevent="editarTarea(tarea)">

        <h4 class="text-center font-weight-bold"> TAREA ID: <span class="font-italic color-app"> {{ tarea.id }} </span> </h4>

        <div class="form-row">
            <div class="col-12 col-sm-12 col-md-8 col-lg-10 col-xl-10 mb-3">
                <label class="text-muted font-italic" for="validationServer01"><small>Descripcion Tarea</small></label>
                <input type="text" class="form-control" v-model="$v.tarea.nombre.$model"
                        :class="{ 'is-invalid' : $v.tarea.nombre.$error, 'is-valid' : !$v.tarea.nombre.$error && $v.tarea.nombre.$dirty  }">
                <div class="invalid-feedback" v-if="$v.tarea.nombre.$invalid">
                    La nota debe tener al menos 4 caracteres y es obligatorio!
                </div>
            </div>
    
            <div class="col-md-4 col-lg-2 col-xl-2 mb-3">
                <label for="validationServer02" class="text-muted font-italic"><small>Estado</small></label>
                
                <select class="custom-select is-valid" id="validationServer04" v-model="$v.tarea.estado.$model">
                    
                    <option type="boolean" v-bind:value="false">En Curso</option>
                    <option type="boolean" v-bind:value="true">Completo</option>
                </select>
            
                <div class="valid-feedback">
                    
                </div>
            </div>
        </div>

        <div class="form-row"></div>
        <div class="col-12">
            <button v-if="$v.tarea.estado.$dirty || $v.tarea.nombre.$dirty" type="submit" class="btn btn-warning btn-block mb-2">Editar</button>
            
            <router-link 
                v-if="!$v.tarea.estado.$dirty && !$v.tarea.nombre.$dirty"
                to="/lista" class="btn btn-info btn-block mb-2">
                    Volver
            </router-link>

        </div>

        </form>

    </div>


</template>

<script>

import { mapActions, mapState } from "vuex";
import { required, minLength } from 'vuelidate/lib/validators'


export default {
    name: 'Editar',

    data(){
        return{
            id: this.$route.params.id
        }
    },

    validations:{
         tarea: {
                nombre: { required, minLength: minLength(4) },
                estado: { required }
            }

    },

    methods: {
        ...mapActions(['getTarea','editarTarea'])
    },

    // Tengo la tarea que deseo Editar
    computed:{
    ...mapState(['tarea'])
    },

    created() {
        // Traigo los datos de la tarea desde FIREBASE, con su ID
        this.getTarea( this.id );
        console.log( this.tarea)
    }
}
</script>

<style>

.color-app {
  color: #42b983;
  font-size: 18px !important;
}

</style>