<template>
  <div class="home">
    
   
    <div class="row mt5">
      <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mt-5" v-for="(app, index) of apps" :key="index">
          <OpcionHome :app="app"></OpcionHome>
      </div>
    </div>
  </div>
</template>

<script>

import OpcionHome from "../components/OpcionHome";

export default {
  name: 'home',
  
  data(){
    return {
      apps : [
        {
          nombre: 'Nueva Nota',
          descripcion: 'Agregar una Nota',
          icono: 'fa-plus',
          url: 'nueva'
        },

        {
          nombre: 'Listado de Notas',
          descripcion: 'Listado de todas sus Notas',
          icono: 'fa-clipboard-list',
          url: 'lista'
        },

        {
          nombre: 'Otra Accion',
          descripcion: 'Otra Accion o bien otra mini App',
          icono: 'fa-cat',
          url: 'home'
        }
      ]
    }
    
  },

  components: {
   OpcionHome
  }

}
</script>