<template>
    <div class="mb-5">
        <h1 class="color-app font-weight-bold text-center mb-4 mt-4">Lista Tareas</h1>

        <router-link :to="{name: 'nueva'}">
      <button class="btn btn-success btn-block">Agregar</button>
    </router-link>

    <transition name="custom-classes-transition"
                enter-active-class="animated bounceInLeft"
                leave-active-class="animated bounceInLeft">
      
    
    <ul class="list-group mt-4 mb-5 animated fedeIn" v-if="tareas.length > 0">
      
      <li class="list-group-item"  
      v-for="item of tareas" :key="item.id">
        <span v-if="item.estado" class="badge badge-pill badge-success mr-2"> <i class="fas fa-thumbs-up mr-1"></i> Completado </span>
        <span v-if="!item.estado" class="badge badge-pill badge-info mr-2"> <i class="fas fa-hourglass-half mr-1"></i> En Proceso </span>
        <span class="font-weight-bold">{{item.nombre}}</span>
        <small class="text-muted font-italic ml-2">ID:  {{item.id}}</small>
        <div class="float-right">
          <router-link class="btn btn-warning btn-sm mr-2" 
          :to="{name: 'editar', params:{ id: item.id}}">
            Editar
          </router-link>
          <button @click="eliminarTarea(item.id)" class="btn btn-danger btn-sm">Eliminar</button>
        </div>  
      </li>
    </ul>
    

    </transition>
    </div>
  
</template>

<script>

import { mapState, mapActions } from "vuex";


export default {
    name: 'ListaTareas',
    
    methods: {
        ...mapActions(['getTareas', 'eliminarTarea'])
    },

    // Ejecuto getTareas() [Este metodo trae todas las tareas desde FIREBASE], al inicio del componente 
    created(){
        this.getTareas();

    },
    computed:{
        ...mapState(['tareas']),
    }

}
</script>

<style>

.fade-enter-active, .fade-leave-active {
  transition: opacity 1.5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}

.color-app {
  color: #42b983;
}

</style>

