<template>
  <div class="container">
      <h2 class="color-app text-center font-weight-bold mt-5 mb-4">NUEVA TAREA</h2>

      <form @submit.prevent="nuevaTarea(nuevaTareaForm)">


        <div class="form-row">
            <div class="col-12 col-sm-12 col-md-8 col-lg-10 col-xl-10 mb-3">
                <label class="text-muted font-italic" for="validationServer01"><small>Descripcion Tarea</small></label>
                <input type="text" class="form-control" 
                        :class="{ 'is-invalid' : $v.nuevaTareaForm.nombre.$error, 'is-valid' : !$v.nuevaTareaForm.nombre.$error && $v.nuevaTareaForm.nombre.$dirty  }"
                        v-model="$v.nuevaTareaForm.nombre.$model">
                <div class="invalid-feedback" v-if="$v.nuevaTareaForm.nombre.$invalid">
                    La nota debe tener al menos 4 caracteres y es obligatorio!
                </div>
            </div>
    
            <div class="col-md-4 col-lg-2 col-xl-2 mb-3">
                <label for="validationServer02" class="text-muted font-italic"><small>Estado</small></label>
                
                <select class="custom-select" v-model="$v.nuevaTareaForm.estado.$model"
                        :class="{ 'is-invalid' : $v.nuevaTareaForm.estado.$error, 'is-valid' : !$v.nuevaTareaForm.estado.$error && $v.nuevaTareaForm.estado.$dirty }">
                    <option type="boolean" v-bind:value="false">En Curso</option>
                    <option type="boolean" v-bind:value="true">Completo</option>
                </select>
            
            </div>
        </div>

        <div class="form-row"></div>
        <div class="col-12">
            <button type="submit" :disabled="!validoForm" class="btn btn-success btn-block mb-2">Crear Nota</button>
        </div>

        </form>

  </div>
</template>

<script>

import { mapActions } from "vuex";
import { required, minLength } from 'vuelidate/lib/validators'


export default {
    name: 'Nueva',
    data() {
        return {

            nuevaTareaForm: {
                nombre: '',
                estado: ''
            }
            
        }
        
    },
    
    validations:{
         nuevaTareaForm: {
                nombre: { required, minLength: minLength(4) },
                estado: { required }
            }

    },

    methods:{
        ...mapActions(['nuevaTarea'])
    },

    computed:{

        validoForm(){
            return this.nuevaTareaForm.nombre !== '' && this.nuevaTareaForm.estado !== ''
        }
        
    }
    
}
</script>

<style>

.color-app {
  color: #42b983;
}

</style>