<template>
  <footer class="page-footer font-small fixed-bottom" style="background-color: #496e84;"> 
    <div class="footer-copyright text-center mt-1 text-light">
      © {{ anio }} Copyright:
      <a href="https://www.conectarse-it.com.ar" class="color-letra-footer" target="_blank"> 
        Conectarse-it
        <img class="ml-2 mr-2 logo-footer mt-1 mb-1" src="@/assets/logo-conectarse.png" alt="Logo Conectarse" />
      </a>
      
      
    </div>
  </footer>
</template>

<script>
export default {
    name: 'footerPage',
    data() {
        return {
            anio: new Date().getFullYear()
        }
    }


}
</script>

<style>

.logo-footer {
    height: 20px
}

.color-letra-footer {
    color: #42b983;
}

</style>