<template>
  <div id="nav" class="mb-5">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #496e84;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#"> <img class="imagen-logo" src="../assets/vue-icono.png" /> </a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <router-link to="/" class="ml-3 mr-3 color-texto-router-link"> <i class="fas fa-home mt-1"></i> Inicio</router-link>
      </li>
      <li class="nav-item">
        <router-link class="ml-3 mr-3 color-texto-router-link" to="/nueva"> <i class="fas fa-plus mt-1"></i> Nueva Nota</router-link>
      </li>
      <li class="nav-item">
        <router-link class="ml-3 mr-3 color-texto-router-link" to="/lista"> <i class="fas fa-clipboard-list mr-1"></i> Listado Notas</router-link>
      </li>

      <li class="nav-item">
        <a class="ml-3 mr-3 color-texto-router-link" href="#" @click="salir"> <i class="fas fa-sign-out-alt mr-1"></i> Salir</a>
      </li>
    </ul>
  </div>
</nav>

            
</div>
</template>

<script>

import { mapActions } from "vuex";
export default {
    name: 'Navbar',
    methods: {
      ...mapActions(['salir'])
    }
}
</script>

<style>
  
  .color-texto-router-link {
    color: aliceblue !important;
  }

  .imagen-logo {
    max-width: 32px !important
  }

  .imagen-banner {
    max-height: 150px !important;
    width: 100% !important;
    /* max-height: 50% !important; */
  }

 

</style>