<template>
  <div id="app">
    <vue-snotify></vue-snotify>
    <Navbar></Navbar>
    
    <div class="container mt-5">
        <transition name="page" mode="out-in">
          <router-view/>
        </transition>
    </div>

    <FooterApp></FooterApp>
    
  </div>
</template>

<script>
import Navbar from "./components/Navbar.vue";
import FooterApp from "./components/Footer.vue";

import Snotify, { SnotifyPosition } from 'vue-snotify'

const options = {
  toast: {
    position: SnotifyPosition.rightTop
  }
}


export default {
  name: 'app',
  components: {
    Navbar,
    FooterApp
  }
}
</script>

<style scoped>
  @import "~vue-snotify/styles/material.css";

  .fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.page-enter-active, .page-leave-active {
  transition: opacity .75s, transform .75s;
}
.page-enter, .page-leave-to {
  opacity: 0;
  transform: translateX(-45%);
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}
</style>


